/**
	Winter Rush CSS
	by Felix Turner / www.airtight.cc / @felixturner
**/

body {

	background-color: #000;
	margin: 0px;
	overflow: hidden;
	color: #FFF;
	font-family: 'Lato', sans-serif;
	 -webkit-text-size-adjust: 100%;
}

#debug-text{
	position:absolute;
	top:60px;
	color:#00FF00;
	width:400px;
}

#score-text{
	position:absolute;
	top:20px;
	color:#FFFFFF;
	width:200px;
	text-align: center;
	margin: 0 auto;
	left:0;
	right:0;
	opacity:0;
	font-size:10vmin;
	letter-spacing: 1px;
}

#splash{
	position:absolute;
	width:500px;
	height:500px;
	background-image:url(../res/img/xmas-splash.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
	opacity:0;
	cursor:pointer;
}

#prompt{
	position:absolute;
	width:100%;
	height:30%;
	top: 40%;
	xleft:5%;
	text-align: center;
	font-size:30px;
	text-shadow: 0 0 8px rgba(0,0,0,0.8);
	letter-spacing: 2px;
}

#prompt-big{
	margin-top: 4%;
}

#prompt-small{
	margin-top: 5%;
}

#info{
	opacity:0;
	position:absolute;
	bottom:12px;
	padding:0 10px;
	font-size:13px;
	text-shadow: 0 0 3px rgba(0,0,0,0.4);
	width:100%;
	text-align: center;
}

a { color: #fff; }

#music-toggle{
	position:absolute;
	top:0;
	right:0;
	margin:10px;
	width:40px;
	height:40px;
	background-image:url(../res/img/music-toggle.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	cursor: pointer;	
	opacity:0;
}

#music-toggle.off{
	background-position: -40px 0;
}

#preloader{
	position: absolute;
	width: 40px;
	height: 40px;
	margin: auto;
	left:0;
	right:0;
	top: 0;
	bottom: 0;
	background:url(../res/img/loader.gif) center center no-repeat;
}
